.node-red/.flows.json.backup
[
    {
        "id": "a3eb30eb28df6688",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8b9e97420e20a25",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a430781bafed1c80",
        "type": "mqtt-broker",
        "name": "SIEMENS S7-1500",
        "broker": "10.11.24.250",
        "port": "1883",
        "clientid": "NodeRed_C1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ed546e2fc0cebfe9",
        "type": "ui_tab",
        "name": "Visualisation Platine S7-1500",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c1ff778839f486e5",
        "type": "ui_group",
        "name": "Visualisation Platine S7-1500",
        "tab": "ed546e2fc0cebfe9",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "740585ec9d5b972e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ff00eb",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d16cabef944a7a1",
        "type": "MySQLdatabase",
        "name": "Donnee",
        "host": "localhost",
        "port": "3306",
        "db": "projet",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f49720107fde8d07",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "725ed6af54f92838",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "30d17829b3e879bb",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "af9d89d9f54f213e",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c9c016fc1dd60d4",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "561c9976ec665098",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "bd3da10aee2fb1b4",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "acb4cfd850449176",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "d9969f4c9605ed02",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "a82fbe13b273d142",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "ac8cf5fe522d4d7d",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "4671cdb3d4eddf31",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "f57dd871028c0383",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "c011762f2195c36c",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "ae27bb9d1448e998",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 33,
        "width": 6,
        "height": 1
    },
    {
        "id": "6d9e24075a04b44f",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "301604eae0dbc91d",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "2096698212f0aa25",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b580e8297f86745",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "58b32e00aef4c741",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "6825c083f8e91d52",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "b88f540203c4f34b",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 45,
        "width": 6,
        "height": 1
    },
    {
        "id": "52f789b7baccbbbe",
        "type": "ui_spacer",
        "z": "a3eb30eb28df6688",
        "name": "spacer",
        "group": "c1ff778839f486e5",
        "order": 47,
        "width": 11,
        "height": 1
    },
    {
        "id": "d59191f573ee1d63",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "6af572f4b2f0be45",
        "type": "ui_group",
        "name": "Visualisation BDD",
        "tab": "d59191f573ee1d63",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f48b91f55dc0e747",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IW4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 2880,
        "wires": [
            [
                "a6e38c91105d91c2",
                "b59940a499150822"
            ]
        ]
    },
    {
        "id": "b59940a499150822",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 2960,
        "wires": [
            [
                "4382e90caaa7d158",
                "2720e87529c8b333",
                "e550918dfac3056f"
            ]
        ]
    },
    {
        "id": "4382e90caaa7d158",
        "type": "ui_gauge",
        "z": "a3eb30eb28df6688",
        "name": "",
        "group": "c1ff778839f486e5",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Niveau %IW4 G",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 3040,
        "wires": []
    },
    {
        "id": "2720e87529c8b333",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Potar G",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 2960,
        "wires": []
    },
    {
        "id": "a2cd6de9bec56f39",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IW6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 3220,
        "wires": [
            [
                "acd103270b876e34",
                "5ae92595f1ee714b"
            ]
        ]
    },
    {
        "id": "acd103270b876e34",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 3280,
        "wires": [
            [
                "68b38c3bcdf3ef76",
                "a3070f3f4feccd4d",
                "dfe496bd8a2b0e12"
            ]
        ]
    },
    {
        "id": "68b38c3bcdf3ef76",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Potar D",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 3280,
        "wires": []
    },
    {
        "id": "a6e38c91105d91c2",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Potar Avant conversion G ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 2800,
        "wires": []
    },
    {
        "id": "5ae92595f1ee714b",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Potar Avant conversion D",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 3200,
        "wires": []
    },
    {
        "id": "ee2a99d206b4b833",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Led %Q8.0",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-lightbulb-o",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-lightbulb-o",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 3660,
        "wires": [
            [
                "efb8d9c48bf707f8",
                "789d68779b0d69b6"
            ]
        ]
    },
    {
        "id": "9cb51666d442aa1e",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 3660,
        "wires": []
    },
    {
        "id": "e211eb9f711e9ac2",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 3700,
        "wires": []
    },
    {
        "id": "83c743a431556dbf",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Led %Q8.1",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-lightbulb-o",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-lightbulb-o",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 3800,
        "wires": [
            [
                "ae7344fa45f8e984",
                "ec432fed504c10f2"
            ]
        ]
    },
    {
        "id": "5ecab23074f376cc",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 3800,
        "wires": []
    },
    {
        "id": "bd9c892a06247812",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 3840,
        "wires": []
    },
    {
        "id": "5df364e79f3faa38",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Led %Q8.2",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-lightbulb-o",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-lightbulb-o",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 3940,
        "wires": [
            [
                "3cfbf45d0c800b09",
                "ef92c9e420e286f3"
            ]
        ]
    },
    {
        "id": "2b6dba4e88034957",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 3940,
        "wires": []
    },
    {
        "id": "abc41c208c4d6dce",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 3980,
        "wires": []
    },
    {
        "id": "2095a02a4e8f567f",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Led %Q8.3",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-lightbulb-o",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-lightbulb-o",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 4080,
        "wires": [
            [
                "f5c3ebb4d10d4c1b",
                "1933172e969af167"
            ]
        ]
    },
    {
        "id": "51b68106fc236df4",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4080,
        "wires": []
    },
    {
        "id": "b7af3f529bacece8",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 4120,
        "wires": []
    },
    {
        "id": "3111aae2c43b6289",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Led %Q8.4",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 24,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-lightbulb-o",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-lightbulb-o",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 4220,
        "wires": [
            [
                "4070f9548f29d4b0",
                "5de8b488a7699711"
            ]
        ]
    },
    {
        "id": "3ca792fd26e1be84",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4220,
        "wires": []
    },
    {
        "id": "41e986797b9c01c9",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 4260,
        "wires": []
    },
    {
        "id": "67c96807035c2fe0",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Led %Q8.5",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 30,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-lightbulb-o",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-lightbulb-o",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 4360,
        "wires": [
            [
                "d7d22ad2c1b84bb0",
                "a400e4ca137bf3a9"
            ]
        ]
    },
    {
        "id": "10b0d38a90a8d712",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4360,
        "wires": []
    },
    {
        "id": "bea7b1f558f58478",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 4400,
        "wires": []
    },
    {
        "id": "8c3f5ffdf8671b6c",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Led %Q8.6",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 35,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-lightbulb-o",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-lightbulb-o",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 4500,
        "wires": [
            [
                "b5be047d11da5538",
                "10e120248386bc71"
            ]
        ]
    },
    {
        "id": "267fa9c54d0967f7",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4500,
        "wires": []
    },
    {
        "id": "dc3b38650201edc2",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 4540,
        "wires": []
    },
    {
        "id": "b914a7d783721766",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Led %Q8.7",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 42,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-lightbulb-o",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-lightbulb-o",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 4640,
        "wires": [
            [
                "45994983f5146332",
                "abd246c851edea5b"
            ]
        ]
    },
    {
        "id": "4c7b1c948a85983a",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4640,
        "wires": []
    },
    {
        "id": "8235fadddf7928d1",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 4680,
        "wires": []
    },
    {
        "id": "cc1bc0b305fb12d3",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Moteur Rotation Horaire ON/OFF",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 11,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 4800,
        "wires": [
            [
                "ec200ae92f5d618b",
                "739638fe7db6b6fe"
            ]
        ]
    },
    {
        "id": "b541e2c06c8cf289",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Moteur",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 4780,
        "wires": []
    },
    {
        "id": "00934d7579e3d232",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 4820,
        "wires": []
    },
    {
        "id": "ec200ae92f5d618b",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 8",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[8] = 49;\n}\nelse {\n    msgmqtt[8] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 4800,
        "wires": [
            [
                "e813980c70d6a63c"
            ]
        ]
    },
    {
        "id": "d518bf0484169879",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Moteur Rotation Antihoraire ON/OFF",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 4940,
        "wires": [
            [
                "6eec558ad6b9fe85",
                "4686ae28ae0730fd"
            ]
        ]
    },
    {
        "id": "515db3f009feebfc",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Moteur",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 4920,
        "wires": []
    },
    {
        "id": "4e1b86b4989db696",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 870,
        "y": 4960,
        "wires": []
    },
    {
        "id": "6eec558ad6b9fe85",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 9",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload== 1) {\n    msgmqtt[9] = 49;\n}\nelse {\n    msgmqtt[9] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 4940,
        "wires": [
            [
                "bfbbd9ba98ccc462"
            ]
        ]
    },
    {
        "id": "efb8d9c48bf707f8",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 0",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[0] = 49;\n}\nelse {\n    msgmqtt[0] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3660,
        "wires": [
            [
                "f9bd9e0f34ed5fea"
            ]
        ]
    },
    {
        "id": "ae7344fa45f8e984",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 1",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[1] = 49;\n}\nelse {\n    msgmqtt[1] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3800,
        "wires": [
            [
                "df932534d43051b2"
            ]
        ]
    },
    {
        "id": "3cfbf45d0c800b09",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 2",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[2] = 49;\n}\nelse {\n    msgmqtt[2] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3940,
        "wires": [
            [
                "85c4185f58535208"
            ]
        ]
    },
    {
        "id": "f5c3ebb4d10d4c1b",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 3",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[3] = 49;\n}\nelse {\n    msgmqtt[3] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4080,
        "wires": [
            [
                "d4e62bf97a847cef"
            ]
        ]
    },
    {
        "id": "4070f9548f29d4b0",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 4",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[4] = 49;\n}\nelse {\n    msgmqtt[4] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4220,
        "wires": [
            [
                "1fc5bfd4bf6434e5"
            ]
        ]
    },
    {
        "id": "d7d22ad2c1b84bb0",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 5",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists  \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[5] = 49;\n}\nelse {\n    msgmqtt[5] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4360,
        "wires": [
            [
                "f12407dfdeb0d960"
            ]
        ]
    },
    {
        "id": "b5be047d11da5538",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 6",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists  \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[6] = 49;\n}\nelse {\n    msgmqtt[6] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4500,
        "wires": [
            [
                "4651806455b54df6"
            ]
        ]
    },
    {
        "id": "45994983f5146332",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 7",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n        global.set(\"msgmqtt\", msgmqtt);\n    }\n\n    \n\n}\nif (msg.payload == 1) {\n    msgmqtt[7] = 49;\n}\nelse {\n    msgmqtt[7] = 48;\n}\n\nglobal.set(\"msgmqtt\", msgmqtt);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4640,
        "wires": [
            [
                "e6fbf821bab58f8f"
            ]
        ]
    },
    {
        "id": "c1dc1545ef230e69",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I16.0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "81899281d51fab3d"
            ]
        ]
    },
    {
        "id": "81899281d51fab3d",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "76afbb92d780a2bc",
                "95e6fa1df66fea45",
                "77e024062696b2e6"
            ]
        ]
    },
    {
        "id": "76afbb92d780a2bc",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I16.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "95e6fa1df66fea45",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%16.0",
        "tooltip": "%16.0",
        "group": "c1ff778839f486e5",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "efea17ab654297d2",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I16.1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "8f674f23fcba3c47"
            ]
        ]
    },
    {
        "id": "8f674f23fcba3c47",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "1876f2e94a6cad79",
                "bf41ece1bc0bda43",
                "e357379068352d30"
            ]
        ]
    },
    {
        "id": "1876f2e94a6cad79",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I16.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "bf41ece1bc0bda43",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I16.1",
        "tooltip": "%I16.1",
        "group": "c1ff778839f486e5",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "41e6923df9b91742",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I16.2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "e8f74db046670c7e"
            ]
        ]
    },
    {
        "id": "e8f74db046670c7e",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "9df2d69adc644465",
                "2b6a9c26164030e8",
                "fd8b6d8c513323ae"
            ]
        ]
    },
    {
        "id": "9df2d69adc644465",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I16.2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "2b6a9c26164030e8",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I16.2",
        "tooltip": "Int 2",
        "group": "c1ff778839f486e5",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "96ca3396b7be5a20",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I16.3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 620,
        "wires": [
            [
                "e81e64edbf0e48b5"
            ]
        ]
    },
    {
        "id": "e81e64edbf0e48b5",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 620,
        "wires": [
            [
                "84a23ff466632edd",
                "88586dc66bed95c6",
                "e4ab22dcb5d9ca87"
            ]
        ]
    },
    {
        "id": "84a23ff466632edd",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I16.3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "88586dc66bed95c6",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I16.3",
        "tooltip": "%I16.3",
        "group": "c1ff778839f486e5",
        "order": 20,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e42f58fac389addc",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I16.4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "fe743083759757e1"
            ]
        ]
    },
    {
        "id": "fe743083759757e1",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 800,
        "wires": [
            [
                "bdc64ae527184e33",
                "5f438b1c6f310e1a",
                "e61bc9552146a479"
            ]
        ]
    },
    {
        "id": "bdc64ae527184e33",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I16.4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 800,
        "wires": []
    },
    {
        "id": "5f438b1c6f310e1a",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I16.4",
        "tooltip": "%I16.4",
        "group": "c1ff778839f486e5",
        "order": 26,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "28be5e1fe60f9514",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I16.5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 980,
        "wires": [
            [
                "1d8f44f69a4cbd8a"
            ]
        ]
    },
    {
        "id": "1d8f44f69a4cbd8a",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 980,
        "wires": [
            [
                "a723f7ef2be1cbf8",
                "3e435c062e2ce0ec",
                "7d486396033ccfc7"
            ]
        ]
    },
    {
        "id": "a723f7ef2be1cbf8",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I16.5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 980,
        "wires": []
    },
    {
        "id": "3e435c062e2ce0ec",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I16.5",
        "tooltip": "%I16.5",
        "group": "c1ff778839f486e5",
        "order": 32,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "6c6d60b3bfc22573",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I16.6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1160,
        "wires": [
            [
                "44e3e4b4e80f21a5"
            ]
        ]
    },
    {
        "id": "44e3e4b4e80f21a5",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1160,
        "wires": [
            [
                "0de15f2b32a51ee9",
                "62f00344352569e2",
                "529cd7678832accb"
            ]
        ]
    },
    {
        "id": "0de15f2b32a51ee9",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I16.6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1160,
        "wires": []
    },
    {
        "id": "62f00344352569e2",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I16.6",
        "tooltip": "%I16.6",
        "group": "c1ff778839f486e5",
        "order": 37,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "746833af8794d742",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I16.7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1340,
        "wires": [
            [
                "3705eccde1e385cf"
            ]
        ]
    },
    {
        "id": "3705eccde1e385cf",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1340,
        "wires": [
            [
                "add5c21bb4702cba",
                "9dc00c3aa64bb1ec",
                "be5c7b82408f2de1"
            ]
        ]
    },
    {
        "id": "add5c21bb4702cba",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I16.7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9dc00c3aa64bb1ec",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I16.7",
        "tooltip": "%I16.7",
        "group": "c1ff778839f486e5",
        "order": 44,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "d3a9c9d7e30ad8d3",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I17.2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1520,
        "wires": [
            [
                "9c09fdd4d31db246"
            ]
        ]
    },
    {
        "id": "9c09fdd4d31db246",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1520,
        "wires": [
            [
                "7b51588013a4a991",
                "598c4d3cc83d3c09",
                "ad955b218bc1eb8f"
            ]
        ]
    },
    {
        "id": "7b51588013a4a991",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I17.2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1520,
        "wires": []
    },
    {
        "id": "598c4d3cc83d3c09",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I17.2",
        "tooltip": "%I17.2",
        "group": "c1ff778839f486e5",
        "order": 27,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "694d2d3c0ca66303",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I17.1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1700,
        "wires": [
            [
                "2c8e61ce71743d15"
            ]
        ]
    },
    {
        "id": "2c8e61ce71743d15",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1700,
        "wires": [
            [
                "e4cb1772521c1a8d",
                "74d103a76ac1881e",
                "ab79f86a1ce3a61f"
            ]
        ]
    },
    {
        "id": "e4cb1772521c1a8d",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I17.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1700,
        "wires": []
    },
    {
        "id": "74d103a76ac1881e",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I17.1",
        "tooltip": "%I17.1",
        "group": "c1ff778839f486e5",
        "order": 39,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "9ef93b542c6491fc",
        "type": "mqtt in",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%I17.0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a430781bafed1c80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1880,
        "wires": [
            [
                "866740c08e95cf7e"
            ]
        ]
    },
    {
        "id": "866740c08e95cf7e",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "String to number ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1880,
        "wires": [
            [
                "867be98bce09d124",
                "e7a3f77c7a5fdb17",
                "b4dec91982be7e1c"
            ]
        ]
    },
    {
        "id": "867be98bce09d124",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "%I17.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1880,
        "wires": []
    },
    {
        "id": "e7a3f77c7a5fdb17",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "%I17.0",
        "tooltip": "%I17.0",
        "group": "c1ff778839f486e5",
        "order": 28,
        "width": 3,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "bfbc1521ae29ebd6",
        "type": "ui_slider",
        "z": "a3eb30eb28df6688",
        "name": "",
        "label": "Potentiomètre",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 46,
        "width": 9,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 5080,
        "wires": [
            [
                "487f85eb1cb7a283",
                "575de21d5ce685d6"
            ]
        ]
    },
    {
        "id": "2170235f0377ffe0",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Potentiometre",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 5060,
        "wires": []
    },
    {
        "id": "ad3e8f5842094c08",
        "type": "mqtt out",
        "z": "a3eb30eb28df6688",
        "name": "",
        "topic": "variable/%IX",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a430781bafed1c80",
        "x": 1010,
        "y": 5120,
        "wires": []
    },
    {
        "id": "487f85eb1cb7a283",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Set Buffer 10",
        "func": "var msgmqtt = global.get('msgmqtt') || {};\nif ((msgmqtt[0] != 48) && (msgmqtt[0] != 49)) // exists \n{\n    var i;\n    msgmqtt = Buffer.alloc(13);\n    for (i = 0; i < 13; i++) {\n        msgmqtt[i] = 48;\n    }\n\n    global.set(\"msgmqtt\", msgmqtt);\n\n}\nmsgmqtt[10] = msg.payload+48;\n \n\nglobal.set(\"msgmqtt\", msgmqtt);\n\n\nreturn msg; ",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 5080,
        "wires": [
            [
                "0d6ce25436eb12c4"
            ]
        ]
    },
    {
        "id": "e313fbc4f2a75f9f",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur In Potentiometre",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 5220,
        "wires": []
    },
    {
        "id": "b9a943771630c050",
        "type": "inject",
        "z": "a3eb30eb28df6688",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$globalContext(\"msgmqtt\")\t",
        "payloadType": "jsonata",
        "x": 230,
        "y": 5220,
        "wires": [
            [
                "e313fbc4f2a75f9f"
            ]
        ]
    },
    {
        "id": "0d6ce25436eb12c4",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 5080,
        "wires": [
            [
                "2170235f0377ffe0",
                "ad3e8f5842094c08"
            ]
        ]
    },
    {
        "id": "f9bd9e0f34ed5fea",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 3660,
        "wires": [
            [
                "9cb51666d442aa1e",
                "e211eb9f711e9ac2"
            ]
        ]
    },
    {
        "id": "df932534d43051b2",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 3800,
        "wires": [
            [
                "5ecab23074f376cc",
                "bd9c892a06247812"
            ]
        ]
    },
    {
        "id": "85c4185f58535208",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 3940,
        "wires": [
            [
                "2b6dba4e88034957",
                "abc41c208c4d6dce"
            ]
        ]
    },
    {
        "id": "d4e62bf97a847cef",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 4080,
        "wires": [
            [
                "51b68106fc236df4",
                "b7af3f529bacece8"
            ]
        ]
    },
    {
        "id": "1fc5bfd4bf6434e5",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 4220,
        "wires": [
            [
                "3ca792fd26e1be84",
                "41e986797b9c01c9"
            ]
        ]
    },
    {
        "id": "f12407dfdeb0d960",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 4360,
        "wires": [
            [
                "10b0d38a90a8d712",
                "bea7b1f558f58478"
            ]
        ]
    },
    {
        "id": "4651806455b54df6",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 4500,
        "wires": [
            [
                "267fa9c54d0967f7",
                "dc3b38650201edc2"
            ]
        ]
    },
    {
        "id": "e6fbf821bab58f8f",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 4640,
        "wires": [
            [
                "4c7b1c948a85983a",
                "8235fadddf7928d1"
            ]
        ]
    },
    {
        "id": "e813980c70d6a63c",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 4800,
        "wires": [
            [
                "b541e2c06c8cf289",
                "00934d7579e3d232"
            ]
        ]
    },
    {
        "id": "bfbbd9ba98ccc462",
        "type": "change",
        "z": "a3eb30eb28df6688",
        "name": "View buffer msgmqtt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"msgmqtt\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 4940,
        "wires": [
            [
                "515db3f009feebfc",
                "4e1b86b4989db696"
            ]
        ]
    },
    {
        "id": "08ac540c13dff319",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "test",
        "x": 790,
        "y": 2120,
        "wires": [
            [
                "9aca4ca4622a9c5a"
            ]
        ]
    },
    {
        "id": "5e07d7836d0b8b5e",
        "type": "inject",
        "z": "a3eb30eb28df6688",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 2120,
        "wires": [
            [
                "03ba939bd6f9dfdc"
            ]
        ]
    },
    {
        "id": "03ba939bd6f9dfdc",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "function 1",
        "func": "msg.topic = \"SELECT * FROM test;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 2120,
        "wires": [
            [
                "08ac540c13dff319"
            ]
        ]
    },
    {
        "id": "9aca4ca4622a9c5a",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 2120,
        "wires": []
    },
    {
        "id": "9b0405b574a1e99b",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "function 2",
        "func": "msg.topic = \"INSERT INTO `test` (`test`) VALUES ('8');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 2200,
        "wires": [
            [
                "ee4e6947c275fb13"
            ]
        ]
    },
    {
        "id": "1e138ce230c9c9bf",
        "type": "inject",
        "z": "a3eb30eb28df6688",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 2200,
        "wires": [
            [
                "9b0405b574a1e99b"
            ]
        ]
    },
    {
        "id": "ee4e6947c275fb13",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "test",
        "x": 790,
        "y": 2200,
        "wires": [
            [
                "6acc342f522ef4c1"
            ]
        ]
    },
    {
        "id": "6acc342f522ef4c1",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 2200,
        "wires": []
    },
    {
        "id": "789d68779b0d69b6",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.0', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.0', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3620,
        "wires": [
            [
                "60143d5495f76204"
            ]
        ]
    },
    {
        "id": "60143d5495f76204",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 660,
        "y": 3600,
        "wires": [
            [
                "77f55b80ec2e3345"
            ]
        ]
    },
    {
        "id": "77f55b80ec2e3345",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 0 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 3620,
        "wires": []
    },
    {
        "id": "4bf1fcd7f347e7d0",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 760,
        "y": 2300,
        "wires": [
            [
                "23f322eeedb65f0c"
            ]
        ]
    },
    {
        "id": "23f322eeedb65f0c",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 0 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 2300,
        "wires": []
    },
    {
        "id": "c627999bd29f55e0",
        "type": "inject",
        "z": "a3eb30eb28df6688",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 2300,
        "wires": [
            [
                "7b61d9d05c4668e1"
            ]
        ]
    },
    {
        "id": "7b61d9d05c4668e1",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), 'Q%8.0', '1');\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2300,
        "wires": [
            [
                "4bf1fcd7f347e7d0"
            ]
        ]
    },
    {
        "id": "ec432fed504c10f2",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.1', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.1', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3760,
        "wires": [
            [
                "e17008dd138d9510"
            ]
        ]
    },
    {
        "id": "e17008dd138d9510",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 660,
        "y": 3740,
        "wires": [
            [
                "cef3d813526c2cf1"
            ]
        ]
    },
    {
        "id": "cef3d813526c2cf1",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 1 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 3760,
        "wires": []
    },
    {
        "id": "ef92c9e420e286f3",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.2', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.2', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 3900,
        "wires": [
            [
                "f827db52d34d4ebd"
            ]
        ]
    },
    {
        "id": "f827db52d34d4ebd",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 660,
        "y": 3880,
        "wires": [
            [
                "252913831cc6727a"
            ]
        ]
    },
    {
        "id": "252913831cc6727a",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 2 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 3900,
        "wires": []
    },
    {
        "id": "1933172e969af167",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.3', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.3', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4040,
        "wires": [
            [
                "6820a007602c093f"
            ]
        ]
    },
    {
        "id": "6820a007602c093f",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 660,
        "y": 4020,
        "wires": [
            [
                "7f7f75146f7289cc"
            ]
        ]
    },
    {
        "id": "7f7f75146f7289cc",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 3 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4040,
        "wires": []
    },
    {
        "id": "5de8b488a7699711",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.4', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.4', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4180,
        "wires": [
            [
                "8269a832b6b8be3c"
            ]
        ]
    },
    {
        "id": "8269a832b6b8be3c",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 660,
        "y": 4160,
        "wires": [
            [
                "898ca8d1978731e3"
            ]
        ]
    },
    {
        "id": "898ca8d1978731e3",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 4 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4180,
        "wires": []
    },
    {
        "id": "a400e4ca137bf3a9",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.5', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.5', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4320,
        "wires": [
            [
                "9d93a50354f20c31"
            ]
        ]
    },
    {
        "id": "9d93a50354f20c31",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 660,
        "y": 4300,
        "wires": [
            [
                "6c0097dde8daddaa"
            ]
        ]
    },
    {
        "id": "6c0097dde8daddaa",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 5 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4320,
        "wires": []
    },
    {
        "id": "10e120248386bc71",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.6', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.6', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4460,
        "wires": [
            [
                "ffc58b750890f104"
            ]
        ]
    },
    {
        "id": "ffc58b750890f104",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 660,
        "y": 4440,
        "wires": [
            [
                "51264f6d0ec811f7"
            ]
        ]
    },
    {
        "id": "51264f6d0ec811f7",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 6 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4460,
        "wires": []
    },
    {
        "id": "abd246c851edea5b",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.7', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%Q8.7', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 4600,
        "wires": [
            [
                "bdd4772a41dc03f2"
            ]
        ]
    },
    {
        "id": "bdd4772a41dc03f2",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 660,
        "y": 4580,
        "wires": [
            [
                "688b6a8e43895cd4"
            ]
        ]
    },
    {
        "id": "688b6a8e43895cd4",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Led 7 BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 4600,
        "wires": []
    },
    {
        "id": "087faa088cfb43bf",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I17.0', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I17.0', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2420,
        "wires": [
            [
                "b5b2f7227b23a8c7"
            ]
        ]
    },
    {
        "id": "b5b2f7227b23a8c7",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 760,
        "y": 2420,
        "wires": [
            [
                "9f407da5f4cb7ac9"
            ]
        ]
    },
    {
        "id": "9f407da5f4cb7ac9",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "test I%17.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 2420,
        "wires": []
    },
    {
        "id": "e2a5189de0dc07d5",
        "type": "ui_switch",
        "z": "a3eb30eb28df6688",
        "name": "%I17.0",
        "label": "switch",
        "tooltip": "",
        "group": "c1ff778839f486e5",
        "order": 48,
        "width": "3",
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 2420,
        "wires": [
            [
                "087faa088cfb43bf"
            ]
        ]
    },
    {
        "id": "77e024062696b2e6",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.0', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.0', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 180,
        "wires": [
            [
                "ccbf04ac0a342bca"
            ]
        ]
    },
    {
        "id": "ccbf04ac0a342bca",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 180,
        "wires": [
            [
                "231baeab663341cf"
            ]
        ]
    },
    {
        "id": "231baeab663341cf",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%16.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 180,
        "wires": []
    },
    {
        "id": "e357379068352d30",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.1', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.1', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 360,
        "wires": [
            [
                "70c2e424bd8885fb"
            ]
        ]
    },
    {
        "id": "70c2e424bd8885fb",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 360,
        "wires": [
            [
                "a19cd4da26aad27a"
            ]
        ]
    },
    {
        "id": "a19cd4da26aad27a",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%16.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd8b6d8c513323ae",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.2', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.2', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 540,
        "wires": [
            [
                "8faadc2d561d4209"
            ]
        ]
    },
    {
        "id": "8faadc2d561d4209",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 540,
        "wires": [
            [
                "783976cb0c642280"
            ]
        ]
    },
    {
        "id": "783976cb0c642280",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%16.2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 540,
        "wires": []
    },
    {
        "id": "e4ab22dcb5d9ca87",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.3', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.3', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 720,
        "wires": [
            [
                "01107392e3ead426"
            ]
        ]
    },
    {
        "id": "01107392e3ead426",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 720,
        "wires": [
            [
                "b1af74410896d3c4"
            ]
        ]
    },
    {
        "id": "b1af74410896d3c4",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%16.3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 720,
        "wires": []
    },
    {
        "id": "e61bc9552146a479",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.4', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.4', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 900,
        "wires": [
            [
                "20b50106053baae3"
            ]
        ]
    },
    {
        "id": "20b50106053baae3",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 900,
        "wires": [
            [
                "635a5726eab98d45"
            ]
        ]
    },
    {
        "id": "635a5726eab98d45",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%16.4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 900,
        "wires": []
    },
    {
        "id": "7d486396033ccfc7",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.5', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.5', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1080,
        "wires": [
            [
                "2dea6442cb8b1017"
            ]
        ]
    },
    {
        "id": "2dea6442cb8b1017",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 1080,
        "wires": [
            [
                "4f029764880bdd80"
            ]
        ]
    },
    {
        "id": "4f029764880bdd80",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%16.5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1080,
        "wires": []
    },
    {
        "id": "529cd7678832accb",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.6', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.6', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1260,
        "wires": [
            [
                "f62561891fc32c64"
            ]
        ]
    },
    {
        "id": "f62561891fc32c64",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 1260,
        "wires": [
            [
                "1c59b19d0b6176d8"
            ]
        ]
    },
    {
        "id": "1c59b19d0b6176d8",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%16.6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1260,
        "wires": []
    },
    {
        "id": "be5c7b82408f2de1",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.7', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I16.7', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1440,
        "wires": [
            [
                "af92ec7c5d627625"
            ]
        ]
    },
    {
        "id": "af92ec7c5d627625",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 1440,
        "wires": [
            [
                "2767b1414837343b"
            ]
        ]
    },
    {
        "id": "2767b1414837343b",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%16.7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ad955b218bc1eb8f",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I17.2', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I17.2', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1620,
        "wires": [
            [
                "cc92ec55cc4a17f4"
            ]
        ]
    },
    {
        "id": "cc92ec55cc4a17f4",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 1620,
        "wires": [
            [
                "96f6d5dafd37c8bf"
            ]
        ]
    },
    {
        "id": "96f6d5dafd37c8bf",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%17.2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1620,
        "wires": []
    },
    {
        "id": "ab79f86a1ce3a61f",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I17.1', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I17.1', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1800,
        "wires": [
            [
                "b832db056e53ff95"
            ]
        ]
    },
    {
        "id": "b832db056e53ff95",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 1800,
        "wires": [
            [
                "81e7eef1bc1c3eb4"
            ]
        ]
    },
    {
        "id": "81e7eef1bc1c3eb4",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%17.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1800,
        "wires": []
    },
    {
        "id": "b4dec91982be7e1c",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I17.0', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), '%I17.0', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1980,
        "wires": [
            [
                "1508d43f0a6d7a9a"
            ]
        ]
    },
    {
        "id": "1508d43f0a6d7a9a",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 940,
        "y": 1980,
        "wires": [
            [
                "977173f696bcfc6a"
            ]
        ]
    },
    {
        "id": "977173f696bcfc6a",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "BDD I%17.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1980,
        "wires": []
    },
    {
        "id": "739638fe7db6b6fe",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), 'Moteur_Horaire', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), 'Moteur_Horaire', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 4740,
        "wires": [
            [
                "7064c899439a7f5b"
            ]
        ]
    },
    {
        "id": "7064c899439a7f5b",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 680,
        "y": 4740,
        "wires": [
            [
                "d7b8a1582ad3107d"
            ]
        ]
    },
    {
        "id": "d7b8a1582ad3107d",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Moteur_Horaire BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 4740,
        "wires": []
    },
    {
        "id": "dc770404ed477bd3",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Moteur_Antihoraire BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 4880,
        "wires": []
    },
    {
        "id": "dc84893547a6de35",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 680,
        "y": 4880,
        "wires": [
            [
                "dc770404ed477bd3"
            ]
        ]
    },
    {
        "id": "4686ae28ae0730fd",
        "type": "function",
        "z": "a3eb30eb28df6688",
        "name": "Sent request SQL",
        "func": "if (msg.payload == 1) {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), 'Moteur_Antihoraire', '1');\"\n}\nelse {\n    msg.topic = \"INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), 'Moteur_Antihoraire', '0');\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 4880,
        "wires": [
            [
                "dc84893547a6de35"
            ]
        ]
    },
    {
        "id": "4a8285c39b0b5328",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Potentiomètre BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 5020,
        "wires": []
    },
    {
        "id": "3e0007d0f0c6620b",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 620,
        "y": 5020,
        "wires": [
            [
                "4a8285c39b0b5328"
            ]
        ]
    },
    {
        "id": "575de21d5ce685d6",
        "type": "template",
        "z": "a3eb30eb28df6688",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), 'Potentiomètre', {{payload}});",
        "output": "str",
        "x": 440,
        "y": 5020,
        "wires": [
            [
                "3e0007d0f0c6620b"
            ]
        ]
    },
    {
        "id": "a3070f3f4feccd4d",
        "type": "ui_gauge",
        "z": "a3eb30eb28df6688",
        "name": "",
        "group": "c1ff778839f486e5",
        "order": 22,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Niveau %IW6 D",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 3360,
        "wires": []
    },
    {
        "id": "cc333ef2df96f14b",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Potar_D BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 3420,
        "wires": []
    },
    {
        "id": "9b08056ce676569d",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 820,
        "y": 3420,
        "wires": [
            [
                "cc333ef2df96f14b"
            ]
        ]
    },
    {
        "id": "dfe496bd8a2b0e12",
        "type": "template",
        "z": "a3eb30eb28df6688",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), 'Potar D', {{payload}});",
        "output": "str",
        "x": 640,
        "y": 3420,
        "wires": [
            [
                "9b08056ce676569d"
            ]
        ]
    },
    {
        "id": "947703a8616a237c",
        "type": "debug",
        "z": "a3eb30eb28df6688",
        "name": "Valeur Potar_G BDD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 3100,
        "wires": []
    },
    {
        "id": "6ed44b2437598327",
        "type": "mysql",
        "z": "a3eb30eb28df6688",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 840,
        "y": 3100,
        "wires": [
            [
                "947703a8616a237c"
            ]
        ]
    },
    {
        "id": "e550918dfac3056f",
        "type": "template",
        "z": "a3eb30eb28df6688",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO `Donnee` (horodatage, nom_du_capteur, valeur_capteur) VALUES (NOW(), 'Potar G', {{payload}});",
        "output": "str",
        "x": 660,
        "y": 3100,
        "wires": [
            [
                "6ed44b2437598327"
            ]
        ]
    },
    {
        "id": "d3cec8bda13ef5a2",
        "type": "mysql",
        "z": "b8b9e97420e20a25",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 560,
        "y": 280,
        "wires": [
            [
                "3035a4eca3203434"
            ]
        ]
    },
    {
        "id": "9a31a115b31f4c74",
        "type": "inject",
        "z": "b8b9e97420e20a25",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "23d8c56af47e99cb"
            ]
        ]
    },
    {
        "id": "23d8c56af47e99cb",
        "type": "function",
        "z": "b8b9e97420e20a25",
        "name": "Sent request SQL",
        "func": "msg.topic = \"SELECT * FROM `Donnee` WHERE `Id_Donnee` = 250\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "d3cec8bda13ef5a2"
            ]
        ]
    },
    {
        "id": "3035a4eca3203434",
        "type": "function",
        "z": "b8b9e97420e20a25",
        "name": "Sent request SQL",
        "func": "msg.payload = msg.payload[0].horodatage\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "a976b15e419b5017"
            ]
        ]
    },
    {
        "id": "735c516b8de77b19",
        "type": "ui_form",
        "z": "b8b9e97420e20a25",
        "name": "",
        "label": "",
        "group": "6af572f4b2f0be45",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Start Date",
                "value": "Start Date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Start Time",
                "value": "Start Time",
                "type": "time",
                "required": false,
                "rows": null
            },
            {
                "label": "End Date",
                "value": "End Date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "End Time",
                "value": "End Time",
                "type": "time",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Start Date": "",
            "Start Time": "",
            "End Date": "",
            "End Time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 400,
        "wires": [
            [
                "6d6a0be834346c01",
                "e13d5ca0f7e3f2c6"
            ]
        ]
    },
    {
        "id": "9091c55dd5ced673",
        "type": "ui_table",
        "z": "b8b9e97420e20a25",
        "group": "6af572f4b2f0be45",
        "name": "",
        "order": 2,
        "width": 20,
        "height": 10,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "8663481c28da89ab",
        "type": "mysql",
        "z": "b8b9e97420e20a25",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 1040,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b3e319373cd1c634",
        "type": "function",
        "z": "b8b9e97420e20a25",
        "name": "function 6",
        "func": "var StartTimestamp = msg.payload['Start Date'];\nmsg.payload = new Date(1712212083).toLocaleString;\n\nvar EndTimestamp = msg.payload['End Date'];\nvar unixTimestamp_end = new Date(EndTimestamp).getTime();\n\nmsg.topic = \"SELECT `Id_Donnee`, `TimeStamp`, `nom_du_capteur`, `valeur_capteur` FROM `Donnee` WHERE `TimeStamp` >= \" + StartTimestamp + \" and `TimeStamp` <= \" + EndTimestamp ;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 360,
        "wires": [
            [
                "8663481c28da89ab",
                "1fc0e39bdc33bd8a",
                "85073ee716fa8d0d"
            ]
        ]
    },
    {
        "id": "1fc0e39bdc33bd8a",
        "type": "debug",
        "z": "b8b9e97420e20a25",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "85073ee716fa8d0d",
        "type": "debug",
        "z": "b8b9e97420e20a25",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 620,
        "wires": []
    },
    {
        "id": "6eaeb459a8a1ee11",
        "type": "debug",
        "z": "b8b9e97420e20a25",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "a976b15e419b5017",
        "type": "moment",
        "z": "b8b9e97420e20a25",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "DD/MM/YYYY, hh:mm:ss",
        "locale": "fr-FR",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 1040,
        "y": 280,
        "wires": [
            [
                "6eaeb459a8a1ee11"
            ]
        ]
    },
    {
        "id": "6d6a0be834346c01",
        "type": "function",
        "z": "b8b9e97420e20a25",
        "name": "function 8",
        "func": "msg.StartDate = msg.payload['Start Date'];\nmsg.StartTime = msg.payload['Start Time'];\nmsg.EndDate = msg.payload['End Date']\nmsg.EndTime = msg.payload['End Time']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 400,
        "wires": [
            [
                "a544a8aca0ec6232",
                "7c64bf3a3d058469"
            ]
        ]
    },
    {
        "id": "a544a8aca0ec6232",
        "type": "moment",
        "z": "b8b9e97420e20a25",
        "name": "",
        "topic": "",
        "input": "StartDate",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "YYYY-MM-DD",
        "locale": "fr-FR",
        "output": "StartDate",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "156ee08f90f39601"
            ]
        ]
    },
    {
        "id": "156ee08f90f39601",
        "type": "moment",
        "z": "b8b9e97420e20a25",
        "name": "",
        "topic": "",
        "input": "StartTime",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "kk:mm:ss",
        "locale": "fr-FR",
        "output": "StartTime",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "3bc03f83e2c7315c"
            ]
        ]
    },
    {
        "id": "e13d5ca0f7e3f2c6",
        "type": "debug",
        "z": "b8b9e97420e20a25",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 580,
        "wires": []
    },
    {
        "id": "3bc03f83e2c7315c",
        "type": "moment",
        "z": "b8b9e97420e20a25",
        "name": "",
        "topic": "",
        "input": "EndDate",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "YYYY-MM-DD",
        "locale": "fr-FR",
        "output": "EndDate",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 540,
        "y": 480,
        "wires": [
            [
                "7457cabe59ce711c"
            ]
        ]
    },
    {
        "id": "7457cabe59ce711c",
        "type": "moment",
        "z": "b8b9e97420e20a25",
        "name": "",
        "topic": "",
        "input": "EndTime",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": "59",
        "adjType": "seconds",
        "adjDir": "add",
        "format": "kk:mm:ss",
        "locale": "fr-FR",
        "output": "EndTime",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 580,
        "y": 520,
        "wires": [
            [
                "8d4a2120faf1ca65",
                "17e48d447654e767",
                "7c96f29b0548d573"
            ]
        ]
    },
    {
        "id": "7c64bf3a3d058469",
        "type": "debug",
        "z": "b8b9e97420e20a25",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 680,
        "wires": []
    },
    {
        "id": "8d4a2120faf1ca65",
        "type": "debug",
        "z": "b8b9e97420e20a25",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 680,
        "wires": []
    },
    {
        "id": "17e48d447654e767",
        "type": "function",
        "z": "b8b9e97420e20a25",
        "name": "function 9",
        "func": "var StartDate = msg.StartDate;\nvar StartTime = msg.StartTime;\nvar EndDate = msg.EndDate;\nvar EndTime = msg.EndTime;\nvar Start = StartDate + \" \" + StartTime;\nvar End = EndDate + \" \" + EndTime;\n\nmsg.topic = \"SELECT `horodatage`, `nom_du_capteur`, `valeur_capteur` FROM `Donnee` WHERE `horodatage` >= ' \" + Start + \" ' and `horodatage` <= ' \" + End + \" ' \";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f74696399430d7ef",
        "type": "mysql",
        "z": "b8b9e97420e20a25",
        "mydb": "8d16cabef944a7a1",
        "name": "Donnee",
        "x": 960,
        "y": 520,
        "wires": [
            [
                "9091c55dd5ced673",
                "18b5b5d0efcd6414"
            ]
        ]
    },
    {
        "id": "e8376d55f5f5d575",
        "type": "debug",
        "z": "b8b9e97420e20a25",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 680,
        "wires": []
    },
    {
        "id": "18b5b5d0efcd6414",
        "type": "debug",
        "z": "b8b9e97420e20a25",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 680,
        "wires": []
    },
    {
        "id": "7c96f29b0548d573",
        "type": "function",
        "z": "b8b9e97420e20a25",
        "name": "function 10",
        "func": "var StartDate = msg.StartDate;\nvar StartTime = msg.StartTime;\nvar EndDate = msg.EndDate;\nvar EndTime = msg.EndTime;\nvar Start = StartDate + \" \" + StartTime;\nvar End = EndDate + \" \" + EndTime;\n\nmsg.topic = \"SELECT DATE_FORMAT(`horodatage`, '%H:%i:%s %d-%m-%Y') AS 'Heure/Date', `nom_du_capteur`, `valeur_capteur` FROM `Donnee` WHERE `horodatage` >= ' \" + Start + \" ' and `horodatage` <= ' \" + End + \" ' \";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 783,
        "y": 472,
        "wires": [
            [
                "f74696399430d7ef",
                "e8376d55f5f5d575"
            ]
        ]
    },
    {
        "id": "585076101b29ffa0",
        "type": "ui_button",
        "z": "b8b9e97420e20a25",
        "name": "Clear",
        "group": "6af572f4b2f0be45",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 580,
        "wires": [
            [
                "9091c55dd5ced673"
            ]
        ]
    }
]